#Turn Rewrite Engine On
RewriteEngine On

#Remove .php extension from file.php
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^chasseur/?$ chasseur.php [NC,L]
RewriteRule ^animal/?$ animal.php [NC,L]
RewriteRule ^date/?$ date.php [NC,L]

#Rewrite URL
#RewriteRule ^login/([0-9]+)/?$ login.php?id=$1 [NC,L]
RewriteRule ^chasseur/([0-9]+)/?$ chasseur.php?id=$1 [NC,L]
RewriteRule ^animal/([0-9]+)/?$ animal.php?id=$1 [NC,L]
#RewriteRule ^date/([0-9]+)/?$ date.php?id=$1 [NC,L]